.common-button{
    background-color: #212529;
    color: white;
    border: none;
    padding: 8px 30px ;
    border-radius: 4px;
}
.common-button:hover{
    color: white;
}
.common-color{
    color: #7AB259;
}
.common-bg{
    background-color: #FBD062;
}